@font-face {
    font-family: 'Quicksand';
    src: url('source/fonts/Quicksand-VariableFont.ttf');
  
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
  width: 100%;
}

body {
    color: #191751;
    background: #fbe8cc;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    overflow-x: hidden;
}

h2 {
    text-align: center;
    font-size: 3em;
    font-weight: 400;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    column-gap: 3em;
    row-gap: 4em;
}

.projects__card {
    transition: 
        transform 0.6s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
    background-color: #EEB359;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0em .5em .5em .2em #1e1e1e30;
    max-width: 16em;
}

.projects__card:hover {
    transform: translateY(-1em);
    box-shadow: 0em 1.5em .5em .2em #1e1e1e30;
    .projects__row:has(> .square) {
        img {
            transform: scale(1.7);
            max-width: 100%;
        }
    }
}

.projects__row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 14em;
    height: 14em;
    border-radius: 1em;
    overflow: hidden; 
    img {
        object-fit: cover;
        max-width: 100%;
    }
    .square {
        border-radius: 1em;
        transition: 
            transform 1.2s ease;
    }
}

.links {
    display: flex;
    justify-content: end;
}

a {
    color: #191751;
    text-decoration: none;
}

a:hover {
    color: #1e1e1e30;
}

span {
    padding: .3em;
}

