
/*fonts: Literata, Quicksand. styles available: normal, bold*/


@font-face {
  font-family: 'Literata';
  src: url('fonts/Literata-VariableFont.ttf');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('fonts/Quicksand-VariableFont.ttf');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
 
@font-face {
  font-family: 'Literata';
  src: url('fonts/static/literata/Literata-Bold.ttf');
  
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('fonts/static/quicksand/Quicksand-Bold.ttf');
  
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*there are like 10 more font-faces that are avaible. delete any that are not used before adding to the bucket.*/

html {
  width: 100%;
}

body {
  color: #191751;
  background: #fbe8cc;
  font-family: 'Quicksand';
  font-size: large;
  overflow-x: hidden;
}

h1 { /*can be replaced by a heading class. ask for best practices before pushing*/
  font-family: 'Literata', serif; /*heading font is still a work in progress*/
  font-style: normal;
  font-weight: 400;
  font-size: 6em;
  line-height: 1em;
  margin: 0em;
  padding: 0em;
  padding-left: 0em;

  color: #191751;
}

h2 {
  font-size: 3em;
  font-weight: 400;
}

h4 { /*can be replaced by a subheading class. ask for best practices before pushing*/
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1em;
  margin: .8em 0em;
  padding: 0em;

  color: #89899f;
}

.about-card {
  display: flex;
  flex: wrap;
  justify-content: center;
  background-color: #ffd9a1;
  border-radius: 2em;
  box-shadow: 0em .5em .5em .2em #1e1e1e30;
  padding: 4em;
  margin: 2.5% 12.5%;
}

.about-card__image div {
  float: left;
  margin-right: 5%;
  min-width: 20%;
  max-width: 45%;
}

.about-card__image img {
  margin-top: 4em;
  object-fit: contain;
  max-width: 100%;
  border: .6em solid #794e0d;
  border-radius: 2em 8em;
  /*i don't know about this border radius. might delete.*/
}

.about-card__intro {
  display: flex;
  flex-direction: column;
  float: right;
  margin-left: 5%;
}

.about-card__blurb {
  text-align: center;
  font-size: larger;
  margin: 2em;
}

.projects__header {
  margin: 6em 1em 2em;
  text-align: center;
}

.projects__cards {
  background-color: #EEB359; 
  text-align: center;
  margin: 4em 7em;
  padding: 14em 2em;

  color: #E1E1E6;
  border-radius: .8em;

  /*https://designkojo.com/how-do-i-make-element-stretch-100-width-screen-predefined-theme
  clever, but doesn't hold up on smaller screens. same with position absolute trick. need to research alternatives/workarounds*/
}

.projects__construction {
  display: inline;
  background-color: #DC9934;
  font-size: x-large;
  border-radius: 4px;
}

.contact__header {
  margin: 4em 1em 10em;
  text-align: center;
}

.contact__wrapper li {
  position: absolute;
  transform-origin: 100% 100%;
  left: 50%;
  right:50%;
  list-style: none;
}

.contact__wrapper li a {
  position: absolute;
  text-align: center;
  width: 4em;
  height: 4em;
  left: 55%;
  top: 50%;
  margin: -11em 0 0 -11em;
  border-radius: 50%;
  line-height: 3.5em;
  transform-origin: 100% 100%;
  transform: skew(-60deg) rotate(-75deg);
  transition: transform 500ms;
  transition: .5s;
  text-decoration: none;
}

.contact__wrapper li a span {
  font-size: 1.1em;
}

.contact__wrapper img {
  transform: scale(.31);
  margin: -4.25em 0 0 -4.25em;
}

.contact__overlay {
  position:absolute;
  height:10vh;
  width:100vw;
  border: 1em solid #794e0d;
  border-radius: 50% 50% 0 0;
}

.contact__wrapper li:first-child {
  transform: rotate(15deg) skew(60deg);
}

.contact__wrapper li:nth-child(2) {
  transform: rotate(75deg) skew(60deg);
}

.contact__wrapper li:nth-child(3) {
  transform: rotate(135deg) skew(60deg);
}

.contact__wrapper li:nth-child(even) a {
  background-color: #AD7218;
  border: .3em solid #DC9934;
}

.contact__wrapper li:nth-child(odd) a {
  background-color: #DC9934;
  border: .3em solid #EEB359;
}

/*a:focus could make for some cool visual effects*/

.contact__wrapper li:not(.active) a:hover, .contact__wrapper li:not(.active) a:active {
  color: #191751;
  border-color: #ffffff00;
  background-color: #FFD9A1;
}

@media screen and (max-width:960px){ /*adjusted from the standard 480. might wanna make a new mode for 360*/
    body {
      translate: 2% 0%;;
      font-size: x-large;
    }
    .about-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #ffd9a1;
      border-radius: 2em;
      box-shadow: 0em .5em .5em .2em #1e1e1e30;
      padding: 2em;
      margin: 12% 7% 5%;
    }

    .about-card__intro {
      order:0;
    }

    .about-card__image {
      order:1;
      margin-top: 0%!important; 
      margin-bottom: 5%;
      max-width: 16em;
      max-height: 16em;
      border-radius: 2em 2em;
    }

    .about-card__blurb {
      order: 2;
      margin: 5% 2.5%;
    }

    .projects__cards {
      margin-left: 2.5em;
      margin-right: 2em;
    }

    .contact__header {
      margin-bottom: 8em;
    }

    .contact__wrapper li a {
      margin: -9em 0 0 -6em;
    }
  }

  @media screen and (max-width:720px){
    body {
      font-size: large;
    }

    .contact__wrapper li {
      margin: 10% 10%;
    }

    .contact__wrapper li, a {
      position: relative;
      line-height: 14em;
      transform: none!important;
      transform: translateX(-42%)!important;
      width: 14em!important;
      height: 14em!important;
    }
  }  
